.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px 10px 80px 10px;
  gap: 30px;
  width: 800px;
  margin: 0 auto;
  background-color: rgb(195, 212, 216);
  margin-top: 80px;
  border-radius: 15px;
}

.title {
  color: #6b6a6a;
  font-weight: 700;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
