.container {
  display: flex;
  justify-content: space-around;
  width: inherit;
}

.itemList {
  list-style: none;
  background-color: whitesmoke;
  padding: 10px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.itemListitem {
  width: 140px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border: 1px solid #b1adad;
  border-radius: 15px;
}

.categoryHeader {
  text-align: center;
  color: #6b6a6a;
}

.buttonsContainer {
  display: flex;
  gap: 5px;
}

.checkbox {
  width: 18px;
  height: 18px;
}

.deleteButton {
  width: 18px;
  height: 18px;
  background-color: rgb(235, 85, 85);
  border: none;
  color: white;
}
